*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#login_return{
    font-size: small;
}
#registerbtn{
   padding: 10px 80px 10px 80px;
}
#login_title{
    margin-top: 80px;
    font-family: 'Times New Roman', Times, serif;
}
.form-control::placeholder {
    opacity: 0.5;
}
/* Mesmo da pagina Login */
#title_form{
    margin-top: 50px;
}
#image_login{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
}
/* Media Query */
@media (max-width: 768px) {
    #image_login{
        display: none;
    }
}