*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#register_button{
    font-size: small;
}
#loginbtn{
   padding: 10px 80px 10px 80px;
}
#login_username{
    margin-top: 20px;
}
#login_title{
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
}
#title_form{
    margin-top: 50px;
}
#image_login{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
}
/* Media Query */
@media (max-width: 768px) {
    #image_login{
        display: none;
    }
}